[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
transformers = "*"
openai = "*"
hf-xet = "*"
huggingface-hub = "*"
alembic = "*"
asyncpg = "*"
psycopg2-binary = "*"
dotenv = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
torch = "*"
torchvision = "*"
torchaudio = "*"

[dev-packages]
alembic = "*"
sqlalchemy = "*"
asyncpg = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
