[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
requests = "*"
transformers = "*"
openai = "*"
hf-xet = "*"
huggingface-hub = "*"
alembic = "*"
asyncpg = "*"
psycopg2-binary = "*"
dotenv = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
torch = "*"
torchvision = "*"
torchaudio = "*"
authlib = "*"
httpx = "*"
bcrypt = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
pyjwt = "*"
fastapi-mail = "*"
pytest = "*"
pytest-asyncio = "*"
fastapi = {extras = ["all"], version = "*"}

[dev-packages]
alembic = "*"
sqlalchemy = "*"
asyncpg = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
